@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


.jj{
    font-family: "Artifika", serif; 
    margin-top: 1rem;
}

.jk{
    font-family: "Artifika", serif; 

}