@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.a1{
  color: #FB767B;
  cursor: pointer;
}

.a2{
  color: #626161;
  cursor: pointer;
  position: relative;
}

.a3{
  font-family: "Artifika", serif;
}

.kk {
  background-color: red;
  color: #fff;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kk:hover{
  background-color: #fff;
  color: red;
  animation: rotate360 .5s linear ;
}
.hK{
  padding-top: 1.5rem;
}

.btn-c{
  font-family: "Artifika", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.2rem;
  background: transparent;
  background-color: rgb(0, 0, 0);
  color: #fff;
 
}

.in-1{
  font-family: "Artifika", serif;
  font-size: 1rem;
}

.btn-c:hover{
 background-color: #fff;
 color: #000000;
}

#br{
  border-radius:100% ;
}
.sd{
  margin-right: -32rem;
}
.cv{
  margin-right: 20rem;
}

input::placeholder{
  color: #fff;
  font-family: "Artifika", serif;
}

.slide{

  font-family: "Artifika", serif;
}
.nav-link.active {
  color: #007bff; /* Example color for active link */
}

.sk{
  background-color: #E7F0F3;
}

.a2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Set underline height */
  bottom: 0;
  left: 0;
  background-color: #000000; /* Set underline color */
  visibility: hidden;
  transform: scaleX(0); /* Initially hide the underline */
  transition: all 0.3s ease-in-out; /* Add transition for smooth animation */
}

.a2:hover::after {
  visibility: visible;
  transform: scaleX(1); /* Expand the underline */
}

.p6{
  margin-right: 15rem;
}

.cc1{
  cursor: pointer;
}

/* Map responsive */

.responsive_map{
  overflow: hidden;
  height: 0;
  padding-bottom: 30%;
  position: relative;
}

.responsive_map iframe{
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
}


.float-icon {
  position: sticky;
  z-index: 1;
  float: right;
  top: 500px;
}

@media (max-width: 600px) {
  .float-icon {
    display: none;
  }
}

.resp_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width:1212px){
  .resp_header{
    display: none;
  }

  .dnone{
    display: flex;
    align-items: center;

  }

  .resp-details{
    margin-top: 1rem;
  }

  
}

@media(max-width:750px){
  .dnone{
    display: none;
  }
}

@media(max-width:720){
  .respinput{
    
  }
}